{% extends "base.html" %}
{% load static %}

{% load cloudinary %}

{% block content %}
<div class="container-fluid p-1 w-100">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <hr>
            <h3 class="text-muted">{{ post.title }}</h3>
            <hr>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
        <div class="image-container my-2">
            {% if 'placeholder' in post.featured_image.url %}
            <a href="{{ post.featured_image.url }}" target="_blank" class="col-4"><img
                    src="{% static 'img/placeholder.png' %}" class="card-img-top img-fluid mb-0 p-1"
                    alt="{{ post.title }}"></a>
            {% else %}
            <a href="{{ post.featured_image.url }}" target="_blank"
                class="col-4">{% cloudinary post.featured_image class="card-img-top img-fluid mb-0 p-3" alt=post.title %}</a>
            {% endif %}
        </div>
        <div class="container pb-4">
            <div class="row mt-5">
                    <p class="text-muted">Posted by {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
            </div>

            <div class="row">
                <div class="col-md-8 mt-3 mx-auto w-100" >
                    <p>{{ post.content }}</p>
                    {% if request.user.is_staff %}
                    <div class="mt-4">
                        <a class="btn btn-secondary" href="{% url 'edit_post' post.id %}">Edit</a>
                        <form method="post" class="d-inline">
                            {% csrf_token %}
                            <button class="btn btn-danger" value="Delete Post" type="submit">Delete Post</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}