{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container bg-grey pb-4">
    <div class="row mt-5">
        <div class="col-12 col-md-8 mx-auto">
            <h2 class="text-white text-center">{% trans "Set Password" %}</h2>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}