{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container bg-grey pb-4">
    <div class="row mt-5">
        <div class="col-12 col-md-8 mx-auto">
            <h2 class="text-white text-center">{% trans "Change Password" %}</h2>
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>
{% endblock %}