{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}z
<div class="container bg-grey pb-4">
    <div class="row mt-5">
        <div class="col-12 col-md-8 mx-auto">
            <h2 class="text-white text-center">{% trans "Change Password" %}</h2>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}