{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block extra_title %} - Home{% endblock %}

{% block content %}

<div class="container-fluid container-shop-now d-flex flex-column overlay justify-content-center align-items-center vh-100">
    <h2 class="display-2 logo-font text-white mb-4">
        The Watch Shop
    </h2>
    <a href="{% url 'shop' %}" class="btn btn-lg text-uppercase py-3 shop-now-button">
        Shop Now
    </a>
</div>

{% endblock %}