{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block extra_title %} - Home{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column .overlay justify-content-center align-items-center vh-100">
    <h1 class="display-2 logo-font text-white mb-5">
        The Watch Shop
    </h1>
    <a href="{% url 'shop' %}" class="btn btn-lg rounded-0 text-uppercase py-3 shop-now-button">
        Shop Now
    </a>
</div>

{% endblock %}