{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'css/cart.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}

{% load cloudinary %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank you</h2>
            <hr>
            <p class="text-black">Your order information is below. A conformation email will be sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">

        </div>
    </div>
</div>
{% endblock %}
