body {
    background-image: url("https://res.cloudinary.com/dmvf3llw4/image/upload/q_auto,f_auto/v1682735655/static/img/hreo_edited.fb892b99cbe7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-grey {
    background-color: rgba(39, 38, 39, 0.8);
    max-width: 66%;
    margin-bottom: 100px;
    margin-top: 75px;
    padding-top: 0;
}

.bg-solid-grey {
    background-color: rgba(39, 38, 39, 1);
    max-width: 66%;
}

@media (max-width: 522px) {
    .bg-grey {
        max-width: 90%;
    }
}

@media (min-width: 523px) and (max-width: 767px) {
    .bg-grey {
        max-width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .bg-grey {
        max-width: 55%;
    }
}

@media (min-width: 1024px) {
    .bg-grey {
        max-width: 45%;
    }
}