.text-black {
    color: #000 !important;
}

.green {
    color: green;
}

.grey {
    color: rgb(136, 130, 130)
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.logo-font {
    font-family: 'Playfair Display', serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.decoration-none {
    text-decoration: none;
    color: rgba(0, 0, 0, .55);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 175px;
}

.container {
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/* -----------------------------------mailchimp css */
#mc_embed_signup {
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top:80px;
    left: 85%;
    transform: translateX(-70%);
    z-index: 99999999999;
}

.toast-style{
    position: absolute;
    top: 10px; 
    right: 10px;
}

.close {
    position:absolute;
    top:6px;
    right:30px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


@media screen and (max-width: 767px) {
    .toast-style {
        right:-50px;
        padding: 0;
    }
}