.text-right {
    text-align: right;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.update-link,
.remove-item {
    cursor: pointer;
}
