.text-right{
    text-align: right;
}

.btn-black {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}