.text-black {
    color: #000 !important;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
}

.capitalize {
    text-transform: capitalize;
}

.product-details-container {
    margin-bottom: 60px;
}