<footer class="bg-light py-4 footer text-black mt-4">
    <div class="container-fluid container-lg w-100">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
                <a href="https://www.facebook.com/people/Aurora-Watch-Experts/100091757028913/" target="_blank"
                    class="me-4 text-reset"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                <p>Contact: (+353) 01 4242424</p>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end">
                <p>&copy; 2023 Aurora. All Rights Reserved.</p>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end">
                <div id="mc_embed_signup">
                    <form
                        action="https://herokuapp.us8.list-manage.com/subscribe/post?u=a3e0625dda90dad5e4aaffe53&amp;id=837444902d&amp;f_id=00b87ee0f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                        class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <p>Sign up to our monthly newsletter</p>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                                    required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_a3e0625dda90dad5e4aaffe53_837444902d" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe"
                                        id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>