{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block extra_title %} - About{% endblock %}

{% block content %}

<div class="container mx-auto">
    <h2 class="text-center mb-5">Meet Our Team</h2>
    <div class="row mx-auto">
        {% for member in team_members %}
        <div class="col-md-4 mb-4 mx-auto">
            <div class="card-img-container">
                {% if 'staff_placeholder' in member.photo.url %}
                <img class="card-img-top rounded-circle img-fluid mx-auto" src="{% static 'img/profile_placeholder.png' %}"
                    alt="{{ member.user.get_full_name }}">
                {% else %}
                <img class="card-img-top rounded-circle img-fluid mx-auto" src="{{ member.photo.url }}"
                alt="{{ member.user.get_full_name }}">
                {% endif %}
            </div>
            <ul></ul>
            <div class="card-body">
                <h5 class="card-title">{{ member.user.get_full_name }}</h5>
                <ul></ul>
                <h6 class="card-subtitle mb-2 text-muted">{{ member.position }}</h6>
                <p class="card-text">{{ member.bio }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}